.body form {
	margin: auto;
	width: 800px;
}

.body ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.body li {
	clear: both;
	margin: 10px 0px;
}

.body .denselist li {
	margin: 5px 0px;
}

.body input,
.body textarea {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin: 0px;
	padding: 0px;
	width: 800px;
}

.body textarea {
	height: 200px;
}

.body .halfwidthcol textarea {
	width: 390px;
}

.body .halfwidthcol input {
	width: auto;
}

.body input.statsinput {
	width: 20px;
}

.body h1 {
	background-color: black;
	color: white;
	font-size: 20px;
	margin: 0px;
	text-align: center;
}

.body .halfwidthcol {
	width: 390px;
}

.body .leftcol {
	float: left;
}

.body .rightcol {
	float: right;
}
