<?template TPage {title, body} ?>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/page.css" />
		<title>${title}</title>
	</head>
	<body>
		<div class="header">
			<h1>${title}</h1>
		</div>
		<hr />
		<div class="body">
			$H{body}
		</div>
		<hr />
		<div class="footer">
			<a href="http://www.facebook.com/apps/application.php?id=133494973358693">SFBProfiler</a> by <a href="http://www.facebook.com/jwatzman">jwatzman</a> | <a href="https://github.com/jwatzman/sfbprofiler">Source code available</a>
		</div>
	</body>
</html>
